@charset "utf-8";
/* CSS Document */
html {
  box-sizing: border-box;
  /* System Fonts as used by Medium and WordPress */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body,td,th,p{
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}
body {
	position:relative;
	margin: 0;
	background-color: #fdfdfd;
}
ul, li {
  font-size: 1rem;
	color: #333;
}
a {
	text-decoration: none;
	color: #283593;
}
a:hover, a:focus {
	text-decoration: none;
	color: #ac201b;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  min-height: 100%;
  background-color: #f3f3f3;
}
#footer {
  padding: 25px;
  font-size: 0.6875rem;
  text-align: center;
  letter-spacing: 1px;
  color: #b5b5b5;
  background-color: #252831;
}
#footer a {
  color: #fff;
}
#footer a:hover,
#footer a:focus {
  color:#f09e9e
}
/* ====================== Navigation ====================== */
header div {
  display: flex;
  align-content: center;
  width: 100%;
  height: 80px;
  padding:0 15px;
  text-align: center;
  border-top: 5px solid #ac201b;
  background-color: #252831;
}
header h1 {
  margin: auto;
  font-size: 1.1rem;
  line-height: 1.2em;
  letter-spacing: 0.5em;
  font-weight: 300;
  text-transform: uppercase;
}
header h1 a {
  color: #fff;
}
header h1 a:hover,
header h1 a:focus {
  color:#f09e9e
}
#breadcrumb {
  width: calc(50% - 80px);
  margin: 0;
  padding: 10px 40px 16px;
  font-size: 1rem;
  list-style: none;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  content: "/\00a0";
  padding: 8px;
  color: #000;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  text-decoration: underline;
}

.skip-link {
  position:absolute;
}

.skip-link {
  position:absolute;
  top:-999px;
  left:0;
  right:0;
  z-index: 10;
  padding: 10px 15px;
  font-size:.75rem;
  text-align: center;
  color: #fff;
  background-color: #1d50b0;
}
.skip-link:focus {
  top:80px;
  color: #fff;
}

@media screen and (min-width:460px) {
  header h1 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width:768px) {
  header h1 {
    font-size: 1.3rem;
  }
}

/* ====================== Map ====================== */
#map {
  width: 100%;
  height: 400px;
  max-height: 70vh;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  background-color: #ac201b;
}
.filter-options h2 {
  width:200px;
  margin: 0;
  font-size: 1rem;
  line-height: 35px;
  letter-spacing: .2em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.filter-options label {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.filter-options select {
  width: 200px;
  height: 35px;
  margin: 10px;
  padding: 0 10px;
  font-size: .875rem;
  letter-spacing: 0;
  border: 1px solid #fff;
  background-color: white;
}
@media screen and (min-width:768px) {
  .filter-options {
    flex-direction: row;
  }
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 0 60px;
  text-align: center;
  background-color: #f3f3f3;
  list-style: outside none none;
}
#restaurants-list li {
  width: 100%;
  padding: 0 15px 32px;
  text-align: left;
}
#restaurants-list li article {
  max-width:420px;
  margin: 0 auto;
  border-bottom: 3px solid #E53935;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
#restaurants-list .restaurant-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  background-color: #ccc;
}
#restaurants-list li div {
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding:0 30px 30px;
}
#restaurants-list li h2 {
  margin: 0 -30px 18px;
  padding: 15px 30px;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  background: #283593;
}
#restaurants-list p {
  margin: 0;
}

#restaurants-list .address {
  font-size: .875rem;
  color:#595858;
}
#restaurants-list li a {
  display: block;
  margin-top: auto;
  padding: 10px 30px 12px;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #1d50b0;
  border: 1px solid #1d50b0;
  border-radius: 2px;
  background-color: #fff;
}
#restaurants-list li a:visited {
  color:#01447e;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus {
  color:#fff;
  background:#1d50b0;
}

@media screen and (min-width:680px) {
  #restaurants-list li {
    width:50%
  }
}
@media screen and (min-width:990px) {
  #restaurants-list li {
    width: 33.333%
  }
}
/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.inside #map-container {
  position: fixed;
  width: 50%;
  height: 87%;
  right: 0;
  top: 80px;
}
.inside #map {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.inside #footer {
  position: absolute;
  width: 50%;
  bottom: 0;
}
#restaurant-name {
  margin: 15px 0 30px;
  font-size: 20pt;
  line-height: 1.1;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #000;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  margin: 10px 0px;
  font-size: 12pt;
}
#restaurant-cuisine {
	width: 90%;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ddd;
  background-color: #333;
}
#restaurant-container, #reviews-container {
  width: 50%;
  padding: 140px 40px 30px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  padding-bottom: 1em;
  font-size: 1.5rem;
  letter-spacing: -1px;
  font-weight: 300;
  color: #000;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  display: block;
  position: relative;
  width: 85%;
  margin: 0 0 30px;
  padding: 0 20px 20px;
  overflow: hidden;
  border: 2px solid #f3f3f3;
  background-color: #fff;
  list-style-type: none;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #595858;
}
